@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
    color: #2c2c2c;
}
/* navbar ////////////////////////////////////////////// */
.cart{
    width: 400px;
    height: 100vh;
    background-color: #eee ;
    color: #2c2c2c;
    position: fixed;
    top: 0;
    right: 100%;
    padding: 10px 15px;
}
.cart h2{
    padding: 20px 0;
}
.cart .checkout{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.cart .checkout div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #eee;
    color: black;
}
.cart .checkout .check-outbtn{
    border: none;
    background-color: rgb(39, 97, 204);
    color: #eee;
}
.active .cart{
    left: calc(100% - 400px );  
}
/* cart///////////////////////////////// */
.productList{
    height: auto;
    padding: 15px;
}
.productList li{
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    row-gap: 10px;
    margin-bottom: 20px;
    color: black;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.productList li img{
    width: 50px;
    background-color: #fff;
}
.productList li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productList li .btns button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(159, 183, 228);
    border: none;
    outline: none;
}
.productList li .count{
    padding: 10px;
}
/* ////////////////////// */
.favbtn{
    color: grey;
}